body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table {
  min-width: 650;
}
.chatSection {
  width: 100%;
  height: 80vh;
}
.headBG {
  background-color: #e0e0e0;
}
.borderRight500 {
  border-right: 1px solid #e0e0e0;
}
.messageArea {
  height: calc(100vh - 140px);
  overflow-y: auto;
}
